# Dev environment
.DS_Store
.idea
.ddev

# Drupal scaffolding
drush/contrib
vendor
bin
docroot/core
docroot/libraries
docroot/modules/contrib
docroot/themes/contrib
docroot/profiles/contrib

# File directories
docroot/sites/default/files
private/*
tmp/*
docroot/sites/*/files
docroot/sites/*/private

# Configuration files
docroot/sites/*/settings.local.php
docroot/sites/*/services*.yml

# Ignore SimpleTest multi-site environment.
docroot/sites/simpletest

# Ignore Acquia Dev Desktop configs.
docroot/sites/*.dd

# Ignore .env files as they are personal
/.env